profiles {
    docker {
        process {
            withLabel: 'def' {
                container = 'rund0wn/wgs_tools:latest'
            }
            withLabel: 'metabat' {
                container = 'metabat/metabat:latest'
            }
        }
        docker {
            enabled = true
            runOptions = '-u \$(id -u):\$(id -g) -v /PATH/TO/YOUR/DATA/FOLDER/data:/data -e PATH=/opt/miniconda/bin:/opt/prokka/bin:$PATH'
            container = 'rund0wn/wgs_tools:latest'
        }
    }
    singularity {
        process {
            container = { 'docker://rund0wn/wgs_tools:latest' }
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B /PATH/TO/YOUR/DATA/FOLDER/data:/data'
        }
    }
}
